@import "../base/typography";

:root {
  color-scheme: light dark;
}

body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: var(--color-neutral-950);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-slate-800);
    color: var(--color-neutral-100);
  }
}

* {
  font-size: $base-font-size;
}
