@use "sass:math";

$font-family: "Quicksand", sans-serif;

$font-weight-thin: 200;
$font-weight-normal: 500;
$font-weight-bold: 700;

$base-font-size: 1em;
$base-text-scale: 1.2;

$text-xs: calc($base-font-size / ($base-text-scale * $base-text-scale));
$text-sm: calc($base-font-size / ($base-text-scale));
$text-md: calc($base-font-size * ($base-text-scale));
$text-lg: calc($base-font-size * math.pow($base-text-scale, 2));
$text-xl: calc($base-font-size * math.pow($base-text-scale, 3));
$text-xxl: calc($base-font-size * math.pow($base-text-scale, 4));
$text-xxxl: calc($base-font-size * math.pow($base-text-scale, 5));

label {
  font-size: $base-font-size;
  color: var(--color-slate-700);
  font-weight: $font-weight-normal;

  @media (prefers-color-scheme: dark) {
    color: var(--color-slate-100);
  }
}

h1,
h2,
h3,
h4,
form,
legend,
.text,
.ngx-label {
  color: var(--color-slate-700);

  @media (prefers-color-scheme: dark) {
    color: var(--color-slate-100);
  }
}

h4 {
  font-size: $text-md;
}

h3 {
  font-size: $text-lg;
}

h2 {
  font-size: $text-xl;
}

h1 {
  font-size: $text-xxl;
}

.text {
  &--xxxl {
    font-size: $text-xxxl;
  }

  &--xxl {
    font-size: $text-xxl;
  }

  &--xl {
    font-size: $text-xl;
  }

  &--lg {
    font-size: $text-lg;
  }

  &--md {
    font-size: $text-md;
  }

  &--sm {
    font-size: $text-sm;
  }

  &--xs {
    font-size: $text-xs;
  }
}

.placeholder {
  font-size: $text-sm;
  color: var(--color-slate-600);

  @media (prefers-color-scheme: dark) {
    color: var(--color-slate-50);
  }

  &--disabled {
    color: var(--color-slate-400);
  }
}

.helper-text {
  font-size: $text-xs;

  &--error {
    color: var(--color-danger-600);

    @media (prefers-color-scheme: dark) {
      color: var(--color-danger-400);
    }
  }
}
