<div class="flex">
  <ngx-tag class="mr-2" state="primary">Primary</ngx-tag>
  <ngx-tag class="mr-2" state="success">Success</ngx-tag>
  <ngx-tag class="mr-2" state="danger">Danger</ngx-tag>
  <ngx-tag class="mr-2" state="warning">Warning</ngx-tag>
</div>

<div class="flex mt-2">
  <ngx-tag [outline]="true" class="mr-2" state="primary">Primary</ngx-tag>
  <ngx-tag [outline]="true" class="mr-2" state="success">Success</ngx-tag>
  <ngx-tag [outline]="true" class="mr-2" state="danger">Danger</ngx-tag>
  <ngx-tag [outline]="true" class="mr-2" state="warning">Warning</ngx-tag>
</div>

<div class="flex mt-2">
  <ngx-tag [close]="true" class="mr-2" state="primary">Primary</ngx-tag>
  <ngx-tag [close]="true" class="mr-2" state="success">Success</ngx-tag>
  <ngx-tag [close]="true" class="mr-2" state="danger">Danger</ngx-tag>
  <ngx-tag [close]="true" class="mr-2" state="warning">Warning</ngx-tag>
</div>

<div class="flex mt-2">
  <ngx-tag [outline]="true" [close]="true" class="mr-2" state="primary"
    >Primary</ngx-tag
  >
  <ngx-tag [outline]="true" [close]="true" class="mr-2" state="success"
    >Success</ngx-tag
  >
  <ngx-tag [outline]="true" [close]="true" class="mr-2" state="danger"
    >Danger</ngx-tag
  >
  <ngx-tag [outline]="true" [close]="true" class="mr-2" state="warning"
    >Warning</ngx-tag
  >
</div>

<div class="mt-5">
  <ngx-button class="mr-2">Crear</ngx-button>
  <ngx-button [disabled]="true" class="mr-2" icon="info">Crear</ngx-button>
  <ngx-button color="danger" class="mr-2" icon="info" />
  <ngx-button [outline]="true" color="danger" class="mr-2" icon="info" />
  <ngx-button class="mr-2" icon="expand_less" />
</div>

<div class="mt-5">
  <ngx-select
    [(ngModel)]="selectModel"
    [options]="options"
    [multiple]="true"
    placeholder="Selecciona los permisos"
    labelKey="name"
    valueKey="id"
    label="Permisos"
  />
</div>

<div class="mt-5">
  <form [formGroup]="form">
    <ngx-select
      [required]="true"
      [options]="options"
      formControlName="select"
      placeholder="Selecciona el permiso"
      errorText="Campo requerido"
      labelKey="name"
      valueKey="id"
      label="Permiso"
    />
  </form>

  <div class="mt-2">
    <ngx-button class="mr-2" (click)="enable()">Habilitar </ngx-button>
    <ngx-button (click)="disable()"> Deshabilitar</ngx-button>
  </div>
</div>

<div class="mt-5">
  <p class="text--xxxl">ABCD</p>
  <h1>ABCD</h1>
  <h2>ABCD</h2>
  <h3>ABCD</h3>
  <h4>ABCD</h4>

  <p class="text--sm">ABCD</p>
  <p class="text--xs">ABCD</p>
</div>
