<div class="flex">
  <lib-ngx-tag class="mr-2" color="primary">Primary</lib-ngx-tag>
  <lib-ngx-tag class="mr-2" color="success">Success</lib-ngx-tag>
  <lib-ngx-tag class="mr-2" color="danger">Danger</lib-ngx-tag>
  <lib-ngx-tag class="mr-2" color="warning">Warning</lib-ngx-tag>
</div>

<div class="flex mt-2">
  <lib-ngx-tag [outline]="true" class="mr-2" color="primary"
    >Primary</lib-ngx-tag
  >
  <lib-ngx-tag [outline]="true" class="mr-2" color="success"
    >Success</lib-ngx-tag
  >
  <lib-ngx-tag [outline]="true" class="mr-2" color="danger">Danger</lib-ngx-tag>
  <lib-ngx-tag [outline]="true" class="mr-2" color="warning"
    >Warning</lib-ngx-tag
  >
</div>

<div class="flex mt-2">
  <lib-ngx-tag [close]="true" class="mr-2" color="primary">Primary</lib-ngx-tag>
  <lib-ngx-tag [close]="true" class="mr-2" color="success">Success</lib-ngx-tag>
  <lib-ngx-tag [close]="true" class="mr-2" color="danger">Danger</lib-ngx-tag>
  <lib-ngx-tag [close]="true" class="mr-2" color="warning">Warning</lib-ngx-tag>
</div>

<div class="flex mt-2">
  <lib-ngx-tag [outline]="true" [close]="true" class="mr-2" color="primary"
    >Primary</lib-ngx-tag
  >
  <lib-ngx-tag [outline]="true" [close]="true" class="mr-2" color="success"
    >Success</lib-ngx-tag
  >
  <lib-ngx-tag [outline]="true" [close]="true" class="mr-2" color="danger"
    >Danger</lib-ngx-tag
  >
  <lib-ngx-tag [outline]="true" [close]="true" class="mr-2" color="warning"
    >Warning</lib-ngx-tag
  >
</div>
