@import "./variables";

@each $spacing-value in $spacing-values {
  $i: index($spacing-values, $spacing-value);

  .m-#{$spacing-value} {
    margin: ($default-size * $i) + rem;
  }

  .mt-#{$spacing-value} {
    margin-top: ($default-size * $i) + rem;
  }

  .mb-#{$spacing-value} {
    margin-bottom: ($default-size * $i) + rem;
  }

  .ml-#{$spacing-value} {
    margin-left: ($default-size * $i) + rem;
  }

  .mr-#{$spacing-value} {
    margin-right: ($default-size * $i) + rem;
  }

  .p-#{$spacing-value} {
    padding: ($default-size * $i) + rem;
  }

  .pt-#{$spacing-value} {
    padding-top: ($default-size * $i) + rem;
  }

  .pb-#{$spacing-value} {
    padding-bottom: ($default-size * $i) + rem;
  }

  .pl-#{$spacing-value} {
    padding-left: ($default-size * $i) + rem;
  }

  .pr-#{$spacing-value} {
    padding-right: ($default-size * $i) + rem;
  }

  .px-#{$spacing-value} {
    padding: 0 ($default-size * $i) + rem;
  }
}

@each $rounded-value in $rounded-values {
  $i: index($rounded-values, $rounded-value);
  .rounded-#{$rounded-value} {
    border-radius: ($default-size * $i) + rem;
  }
}
