$variations: "primary", "neutral", "info", "warning", "success", "danger";
$spacing-values: 0, 1, 2, 3, 4, 5, 6;
$rounded-values: "xs", "md", "lg", "full";
$default-size: 0.4;

$palette: (
  slate: #64748b,
  neutral: #737373,
  danger: #b12d2d,
  success: #10b981,
  warning: #f59e0b,
  info: #0ea5e9,
  primary: #2b3d4f,
);
